@model SE1616_Group3_Project.Models.User
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">Profile</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" asp-action="Profile" asp-controller="User">Profile</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Change Password</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Carousel Start -->
<div class="container bg-light" style="">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-12">
                <div class="row text-center">
                    <h1 style="color:orange">Change Password</h1>
                    <p style="color:red" id=msg></p>
                </div>

                <div class="col-lg-4" style="margin:0 auto;">
                    <form asp-action="ChangePassword" asp-controller="User">

                        <label for="oldPassword">Old Password</label>
                        <input class="form form-control mb-2" onchange=" checkPassword()" mb-2" id="oldPassword" type="password" name="oldPassword" placeholder="Old Password" required />
                        <label for="oldPassword">New Password</label>
                        <input class="form form-control mb-2"  mb-2" id="newPassword" type="password" name="newPassword" placeholder="New Password" required />
                        <label for="oldPassword">Confirm New Password</label>
                        <input class="form form-control mb-2" id="confirmPassword" onchange="checkPassword()" type="password" placeholder="Confirm New Password" name="confirmPassword" required />
                        <input id="submitBtn" class="btn btn-primary w-100" type="submit" value="Change Password" />

                    </form>

                </div>
            </div>


        </div>
    </div>
</div>
<script>
    function checkPassword() {
        var oldPassword = document.getElementById("oldPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var submitBtn = document.getElementById("submitBtn");
        if (oldPassword === newPassword) {
            document.getElementById("msg").innerText = "*Please enter a new password!";
            submitBtn.setAttribute("disabled", "");
        } else if (newPassword !== confirmPassword) {
            document.getElementById("msg").innerText = "*Invalid on confirm password!";
            submitBtn.setAttribute("disabled", "");
        }
        else {
            document.getElementById("msg").innerText = "";

            submitBtn.removeAttribute("disabled");
        }
    }
</script>
<!-- Carousel End -->
